[Unit]
Description=tgtts-rvc-gpu4
After=network.target

[Service]
User=tts
WorkingDirectory=/home/tts/tgtts
Type=notify
NotifyAccess=main
WatchdogSec=30s
TimeoutStartSec=120s
Nice=-10
EnvironmentFile=/home/tts/tgtts/env/ttscommon.env
EnvironmentFile=/home/tts/tgtts/env/gpucommon.env
EnvironmentFile=/home/tts/tgtts/env/rvccommon.env
EnvironmentFile=/home/tts/tgtts/env/tgtts-rvc-gpu.env
ExecStart=python3.10 -u /home/tts/.local/bin/waitress-serve --host=localhost --port=5054 --threads=4 --connection-limit=256 --cleanup-interval=1 --channel-timeout=15 tts_onnx_rvc:app
Restart=always

[Install]
WantedBy=multi-user.target