[Unit]
Description=tgtts-api-tg2
After=network.target

[Service]
User=tts
WorkingDirectory=/home/tts/tgtts
Type=notify
NotifyAccess=main
WatchdogSec=15s
TimeoutStartSec=15s
Nice=-10
Environment="PYTHONOPTIMIZE=1"
EnvironmentFile=/home/tts/tgtts/env/ttscommon.env
EnvironmentFile=/home/tts/tgtts/env/apicommon.env
EnvironmentFile=/home/tts/tgtts/env/tgtts-api-tg.env
ExecStart=python3.10 -u /home/tts/.local/bin/waitress-serve --host=localhost --port=5102 --threads=64 --connection-limit=256 --cleanup-interval=1 --channel-timeout=15 tts_api:app
Restart=always

[Install]
WantedBy=multi-user.target