[Unit]
Description=tts-gpusky2
After=network.target
#PartOf=tts-gpu3.service


[Service]
User=tts
WorkingDirectory=/home/tts
Type=notify
NotifyAccess=main
WatchdogSec=30s
TimeoutStartSec=90s
Nice=-15
#Environment="PYTORCH_CUDA_ALLOC_CONF=garbage_collection_threshold:0.7,max_split_size_mb:32"
Environment="PYTHONOPTIMIZE=1"
Environment="CUDA_MODULE_LOADING=LAZY"
ExecStart=python3.10 -u /home/tts/.local/bin/waitress-serve --host=localhost --port=5112 --threads=32 --connection-limit=256 --cleanup-interval=1 --channel-timeout=15 tts_onnx:app
#ExecStart=python3.10 -u -m flask --app tts_onnx run -h 127.0.0.1 -p 5112 --no-reload --no-debugger --without-threads
Restart=always

[Install]
WantedBy=multi-user.target