[Unit]
Description=tts-api-sky
After=network.target

[Service]
User=tts
WorkingDirectory=/home/tts
Type=notify
NotifyAccess=main
WatchdogSec=15s
TimeoutStartSec=5s
Nice=-15
Environment="PYTHONOPTIMIZE=1"
EnvironmentFile=/home/tts/tts_api_sky.env
ExecStart=python3.11 -u /home/tts/.local/bin/waitress-serve --host=localhost --port=5201 --threads=4 --connection-limit=256 --cleanup-interval=1 --channel-timeout=15 tts_api:app
Restart=always

[Install]
WantedBy=multi-user.target