[Unit]
Description=tts-api-sky
After=network.target

[Service]
User=tts
WorkingDirectory=/home/tts
Type=notify
NotifyAccess=main
WatchdogSec=15s
TimeoutStartSec=5s
Nice=-15
Environment="PYTHONOPTIMIZE=1"
ExecStart=python3.10 -u /home/tts/.local/bin/waitress-serve --host=localhost --port=5102 --threads=64 --connection-limit=256 --cleanup-interval=1 --channel-timeout=15 tts_api_sky:app
Restart=always

[Install]
WantedBy=multi-user.target