[Unit]
Description=tts-cpu-tg
After=network.target

[Service]
User=tts
WorkingDirectory=/home/tts
Type=notify
NotifyAccess=main
WatchdogSec=30s
TimeoutStartSec=60s
Nice=10
Environment="PYTHONOPTIMIZE=1"
ExecStart=python3.10 -u ttsd_cpu_rvc.py
Restart=always

[Install]
WantedBy=multi-user.target