[Unit]
Description=tts-gpu8
After=network.target
#PartOf=tts-gpusky1.service

[Service]
User=tts
WorkingDirectory=/home/tts
Type=notify
NotifyAccess=main
WatchdogSec=30s
TimeoutStartSec=120s
Nice=-10
#Environment="PYTORCH_CUDA_ALLOC_CONF=garbage_collection_threshold:0.1,max_split_size_mb:40"
Environment="PYTHONOPTIMIZE=1"
Environment="CUDA_MODULE_LOADING=LAZY"
#ExecStart=python3 -m flask --app tts_onnx run -h 127.0.0.1 -p 5018 --no-reload --no-debugger --without-threads
ExecStart=python3.11 -u /home/tts/.local/bin/waitress-serve --host=localhost --port=5018 --threads=32 --connection-limit=256 --cleanup-interval=1 --channel-timeout=15 tts_onnx:app
Restart=always

[Install]
WantedBy=multi-user.target