[Unit]
Description=tts-cpu1
After=network.target

[Service]
User=administrator
WorkingDirectory=/home/administrator
Type=notify
NotifyAccess=main
WatchdogSec=30s
TimeoutStartSec=60s
Nice=10
ExecStart=python3 ttsd-cpu.py
Restart=always

[Install]
WantedBy=multi-user.target